/* styles.css */

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(55,43,6);
  background: linear-gradient(90deg, rgba(55,43,6,1) 0%, rgba(212,178,110,1) 68%, rgba(255,249,233,1) 100%);
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #87533B;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}
h3 {
  font-size: 20px;
  font-family: "Georgia", Times, serif;
  margin-top: -56px;
  padding-left: 100px;
}

.logo img {
  height: 80px;
  width: auto;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav ul li {
  margin: 0;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #00bcd4;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-bar a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.search-bar a:hover {
  color: #00bcd4;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
#uno {
  height: 500px;
}

#dos {
  height: 500px;
}

#tres {
  height: 500px;
}
h1{
  text-align: center;
}
.gallery {
  display: flex;
  gap: 15px;
  padding: 20px;
  margin: 0 10%;
}
.gallery p{
  text-align: center;
  font-family: Times New Roman;
}

.gallery-item {
  overflow: hidden;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.gallery-item:hover {
  transform: translateY(-5px);
}
#yt{
  padding-right: 90px;
  margin-left: 120px;
  margin-top: 10px;
  width: 600px;
  height: 500px;
}
#mp{
  margin-top: 10px;
  width: 600px;
  height: 500px;
}
footer {
 background-color: #87533B;
 color: white;
 text-align: center;
 padding: 20px;
 width: 100%;
 bottom: 0;
}
footer a {
 color: #fff;
 text-decoration: none;
 margin: 0 10px;
}
footer a:hover {
text-decoration: underline;
}
.fa-facebook {
  color: white;
}
.fa-google {
  color: white;
}
.fa-twitter {
  color: white;
}
.fa-youtube {
  color: white;
}
